<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="180" packages="cn.ucredit.uhouse">
    <properties>
        <property name="LOG_HOME">/Users/xp/Develop/logs</property>
        <property name="PATTERN">%-5level^|%d{ISO8601}^|EScore^|%loginfo%n
        </property>
        <property name="CONSOLE_PATTERN">%d{HH:mm:ss,SSS} %-5level [%class.%method] (%t) %msg%n
        </property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}" />
        </Console>
        <!--info.log -->
        <!-- When bufferedIO is true, this is the buffer size, the default is 8192
            bytes. -->
        <RollingFile name="InfoRollingFile" fileName="${LOG_HOME}/EScore_info.log"
                     filePattern="${LOG_HOME}/EScore_info.log.%d{yyyy-MM-dd}" append="true"
                     bufferedIO="true">
            <PatternLayout pattern="${PATTERN}" />
            <Filters>
                <Filters>
                    <ThresholdFilter level="error" onMatch="DENY"
                                     onMismatch="NEUTRAL" />
                    <ThresholdFilter level="warn" onMatch="DENY"
                                     onMismatch="NEUTRAL" />
                    <ThresholdFilter level="info" onMatch="ACCEPT"
                                     onMismatch="DENY" />
                </Filters>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
        </RollingFile>
        <!--warn.log -->
        <RollingFile name="WarnRollingFile" fileName="${LOG_HOME}/EScore_warn.log"
                     filePattern="${LOG_HOME}/EScore_warn.log.%d{yyyy-MM-dd}" append="true"
                     bufferedIO="true">
            <PatternLayout pattern="${PATTERN}" />
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY"
                                 onMismatch="NEUTRAL" />
                <ThresholdFilter level="warn" onMatch="ACCEPT"
                                 onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
        </RollingFile>
        <!--error.log -->
        <RollingFile name="ErrorRollingFile" fileName="${LOG_HOME}/EScore_error.log"
                     filePattern="${LOG_HOME}/EScore_error.log.%d{yyyy-MM-dd}" append="true"
                     bufferedIO="true">
            <PatternLayout pattern="${PATTERN}" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT"
                                 onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
        </RollingFile>
        <!--异步appender -->
        <Async name="asyncAppender" includeLocation="true">
            <AppenderRef ref="ErrorRollingFile" />
            <AppenderRef ref="WarnRollingFile" />
            <AppenderRef ref="InfoRollingFile" />
        </Async>

    </Appenders>
    <Loggers>
        <!--OFF 0 -->
        <!--FATAL 100 -->
        <!--ERROR 200 -->
        <!--WARN 300 -->
        <!--INFO 400 -->
        <!--DEBUG 500 -->
        <!--TRACE 600 -->
        <!--ALL Integer.MAX_VALUE -->
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="asyncAppender" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
