<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EScore</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="./app/test.js"></script>
</head>
<body>
<div id="app">
  {{ message }}
</div>
<div id="app-2">
	<div v-bind:title="message">
	   Hover your mouse over me for a few seconds to see my dynamically bound title!
	</div>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos" v-if="todo.seen">
    	{{ todo.text }}
     <!-- <p v-if="todo.seen">
     	{{ todo.text }}
     </p> -->
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <!-- Now we provide each todo-item with the todo object    -->
    <!-- it's representing, so that its content can be dynamic -->
    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
  </ol>
</div>
</body>
</html>