<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xp.EScore.dao.ScoreMapper">

	<resultMap id="BaseResultMap" type="com.xp.EScore.po.Score" >
	</resultMap>
	<select id="queryList" resultType="map" >
		SELECT a.*,student.name as name FROM 
			(SELECT * FROM score 
			 WHERE examDate=#{examDate}
			  AND student_id in (
			   SELECT id FROM student
			    WHERE class_id=#{classId}
			 )) a 
			 INNER JOIN student 
		 		ON a.student_id=student.id
		 <!-- WHERE class_id=#{classId} and examDate=#{examDate} -->
	</select>
</mapper>